<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="lightGreen" align="center">
	<h1>BestChoice Cars</h1>
	<div>
	<h1><span>Congratulations!!! You have successfully booked</span> <span th:text = "${brand}"></span> </h1>
	<h2><span th:text = "${model}"></span><span> Car</span></h2>
	</div>
	<h3>Thank you!!! Have a good day</h3>
	<a href="index.html"><input type="Button" value="Home"> </a>
</body>
</html>