<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="lightGreen" align="center">
	<form action="bookedCar" method="post">
		<h1>BestChoice Cars</h1>
		<h2>Choose a car to buy</h2>
		<table border="1" align="center">
			<thead>
				<tr>
					<th></th>
					<th>Brand</th>
					<th>Model</th>
					<th>Year</th>
					<th>No. Of Kms</th>
					<th>Price</th>
					<th>Fuel</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="car : ${cars}">
					<td><input type="radio" name="model" th:value="${car.model}"></td>
					<td th:text="${car.brand}"></td>
					<td th:text="${car.model}"></td>
					<td th:text="${car.releaseYear}"></td>
					<td th:text="${car.noOfKms}"></td>
					<td th:text="${car.price}"></td>
					<td th:text="${car.fuel}"></td>
				</tr>
			</tbody>
		</table>
			<table border="1"  align="center" >
				<tr>
					 <td>
						 <span>
							<input type="submit" value="Book Car">
							<a href="choiceCarByPrice.html" type="Button"><input type="Button" value="Back"></a> 
							<a href="index.html" type="Button"><input type="Button" value="Home"></a>
						</span>
					</td> 
				</tr>
			</table>
	</form>


</body>
</html>