<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body bgcolor="lightgreen">
<h1>Movie Details </h1>

<table border="1">

  <thead>
    <tr>
      <th>Movie ID</th>
      <th>Movie Name</th>
      <th>Movie Collection</th>
    </tr>
  </thead>
  <tbody>
	  <tr th:each="movie : ${movies}">
      <td th:text="${movie.movieId}"></td>
      <td th:text="${movie.movieName}"></td>
      <td th:text="${movie.movieCollection}"></td> 
    </tr>

  </tbody>
</table>
<a href="index.html">Home</a>
</body>
</html>